{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
          <div style="margin-top: 5rem" class="card mt-100">
            <div class="card-header">
              <h2 class="text-center">Панель с данными и выгрузкой</h2>
            </div>
            {% for object in objects %}
                <div class="col-6 col-md-3 mb-4">
                    <div class="card h-100">
                        <img src="{{ object.image.url }}" class="card-img-top" alt="{{ object.title }}">
                        <div class="card-body">
                            <div class="form-check">
                                <label class="form-check-label" for="checkbox{{ object.id }}">
                                    {{ object.title }}
                                    {{ object.show_votes }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        </div>
    </div>

{% endblock %}