{% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/map/style.css' %}">
        <script src="{% static 'js/map/script.js' %}"></script>
        <title>Тест</title>
    </head>
<body>
    <h1>Map form</h1>
    <div>
        <div class="container">
            {% for object in objects %}
                <div class="square" id="square{{ forloop.counter }}"></div>
                <!--<div class="square" id="square{{ forloop.counter }}"><img src="{{ object.image.url }}" alt="{{ object.title }}"></div>-->
            {% endfor %}
        </div>
        <div id="field"></div>
        <form method="POST" class="post-form">{% csrf_token %}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
        <label for="text1">Координаты Лёхи:</label>
        <textarea id="text1">Undefined</textarea>
        <label for="text2">Координаты Льва:</label>
        <textarea id="text2">Undefined</textarea>
        <label for="text3">Координаты Валеры:</label>
        <textarea id="text3">Undefined</textarea>
    <div>
</body>