{% extends 'base.html' %}

{% block content %}
<style>
    img {
        width: 200px;
        height: 200px;
    }

    div.img {
        display: inline flex;
    }
</style>
    <h1>Map form</h1>
    {% for object in objects %}
        <div class="img">
            <img src="{{ object.image.url }}" alt="{{ object.title }}">
        </div>
    {% endfor %}
    <form method="POST" class="post-form">{% csrf_token %}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}