/* style.css */

html {
  /*scroll-behavior: smooth;*/
}

img.captcha {
    width: 8rem;
    height: 4rem;
}

a {
    color: #000000; /* Или любой другой цвет по умолчанию */
    transition: color 0.3s ease;
}
a:hover {
    color: #9CC5A1;
    transition: color 0.3s ease;
}
@font-face {
  font-family: 'Rostov';
  src: url('../fonts/Rostov.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frank';
  src: url('../fonts/franklingothic_demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar-custom {
    background-color: rgba(31, 36, 33, 0.9);
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.brand-logo {
    height: 2.3rem;
    margin-right: 10px;
}

.navbar-brand, .nav-link {
    color: #fff;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.full-screen-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../img/back_one.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.full-screen-container-2 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../img/back_two.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.full-screen-container-3 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../img/bg_3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.full-screen-container-4 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../img/bg_homeStub.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.full-screen-container-5 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../img/resp_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-find {
    background-color: #49A078;
    color: #000000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-find:hover {
    background-color: #216869;
}

.carousel-item {
  height: 50vh;
  background: black;
}

.carousel-item img {
  height: 50vh;
  object-fit: cover;
}

.carousel-indicators button {
  background-color: #ffffff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.row {
    width: 100%;
}

.flex-grow-1 {
    flex-grow: 1;
}

.my-auto {
    margin: auto 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-content {

    padding: 10px 0;
}

.bottom-content {
    padding: 10px 0;
}

#photoCarousel {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.slider-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-carousel {
    max-width: 75%;
    margin: auto;

    border-radius: .5rem;
    background-color: #fff;
}

.middle-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  margin: auto 0;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: transform 0.1s ease, background-color 0.4s;
  z-index: 100;
  color: #fff;
}

.carousel-control-prev {
  left: 25px;
}

.carousel-control-next {
  right: 25px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 50%;
  background-repeat: no-repeat;
  display: inline-block;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  background-color: #333;
  outline: none;
}

@keyframes clickAnimation {
  0%, 100% {
    background-color: #222;
  }
  50% {
    background-color: #333;
  }
}

.carousel-control-prev:active,
.carousel-control-next:active {
  animation: clickAnimation 0.4s ease;
  transform: scale(0.9);
}

.carousel-control-prev:hover:not(:active),
.carousel-control-prev:focus:not(:active),
.carousel-control-next:hover:not(:active),
.carousel-control-next:focus:not(:active) {
  background-color: #333;
}

/* Reset background color when not active */
.carousel-control-prev:not(:hover):not(:active),
.carousel-control-next:not(:hover):not(:active) {
  background-color: #fff;
}


.star {
  font-family: 'Rostov', sans-serif;
  color: #dce1de;
  text-shadow: 5px 5px #1f2421;
  margin-bottom: 2.2rem;
}

@media (max-width: 575.98px) { 
  .star {
    font-size: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .star {
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
  .star {
    font-size: 4rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
  .star {
    font-size: 5rem;
  }
}

@media (min-width: 1200px) { 
  .star {
    font-size: 7.5rem;
  }
}

@media (max-width: 768px) {
    .full-screen-container {
        padding: 20px;
    }
}


.star-h3 {
    font-family: "Rostov";
    color: #dce1de;
    text-shadow: 2px 2px #1f2421;
    font-size: 1.75rem;
    margin-top: 4rem;
    margin-bottom: -0.1rem;
}

.custom-background-color {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    margin-left: 0.05rem;
    margin-bottom: 2rem;
}

.vote-h3 {
    font-family: "Rostov";
    color: #216869;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.sum-h3 {
    font-family: "Rostov";
    color: #dce1de;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.card-boxX {
    background-color: #DCE1DE;
}

.vote-p {
    font-family: "Rostov";
    color: #1F2421;
    font-size: 1.1rem;
    margin: 0 auto;
}

.form-check {
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
}

.vote-h3, .vote-p {
    margin: 0;
}

.star-p {
    font-family: "Frank";
    color: #555;
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 575.98px) {
  .star-h3 {
    font-size: 1.25rem;
  }
  .star-p {
    font-size: 0.875rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .star-h3 {
    font-size: 1.5rem;
  }
  .star-p {
    font-size: 0.925rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .star-h3 {
    font-size: 1.75rem;
  }
  .star-p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .star-h3 {
    font-size: 2rem; /* Большой размер для десктопов */
  }
  .star-p {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .star-h3 {
    font-size: 2.25rem;
  }
  .star-p {
    font-size: 1.25rem;
  }
}

.image-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.image-wrapper:hover {
    transform: scale(1.01);
    box-shadow: none;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.image-wrapper:hover img {
    transform: scale(1.05);
}


.image-wrapper:hover {
    cursor: pointer;
}


#image1, #image2, #image3, #image4 {

}


.card {
    border: none;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


ck-label {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form-check-input:checked ~ .form-check-label {
    color: #216869;
}

.card-img-top {
    margin-top: -2px;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.card-img-top2 {
    margin-top: -2px;
    width: 100%;
    height: 10rem;
    object-fit: cover;
}
.form-check-label {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form-check-input:checked ~ .form-check-label {
    color: #216869;
    animation: checkbox-animation 0.5s ease-in-out;
}

@keyframes checkbox-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.form-check-input:checked {
    background-color: #216869;
    border-color: #216869;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(33, 104, 105, 0.25);
}

.form-check-label {
    cursor: pointer;
}


.card-img-top {
    margin-top: -2px;
}

